<template name="map">
	<div class="card mycard">
		<div class="section">
			<h5>Mapa de Ocorrências</h5>
			<div class="divider"></div>
			<div class="map-container">
				{{#if Template.subscriptionsReady }}
					{{> googleMap name="occurrencesMap" options=mapOptions}}
				{{else}}
					Carregando...
				{{/if}}
			</div>
		</div>
	</div>
</template>