<!--================================================================================
@file         main.html
@version      0.0.1
@path         client/views/
@description  HEAD e BODY da aplicação.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<head>
  <title>Agualert - Aplicativo para Ocorrências de Serviços de Saneamento.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/225.ico">
  <link rel="shortcut icon" href="images/225.png">
</head>
<body>

</body>