<template name="modalOcorrencia">
	<div id="modal-ocorrencia" class="modal">
		<div class="modal-content center">
			<h5>Detalhes da Ocorrência</h5>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12 m12 l12">
				<table id="data-table-notifications" class="striped" cellspacing="0">
					<thead>
						<tr role="row">
							<th style="width: 300px;">Imagem</th>
							<th style="width: 250px;">Descrição</th>
							<th style="width: 150px;">CEP</th>
							<th style="width: 150px;">Email</th>
							<th style="width: 150px;">Telefone</th>
						</tr>
					</thead>
					<tbody>
						<tr role="row">
							{{#with currentOcorrencia}}
							<td>
							{{ #if arquivo }}
								<img src="https://srvtavazando-50601.onmodulus.net/view-file/{{arquivo}}/imagem.jpg" style="width:200px;height:100px;">
							{{ else }}
								<img src="/images/257.png" height="100" width="200"/>
							{{/if}}
							</td>
							<td>{{ descricao }}</td>
							<td>{{ cep }}</td>
							
							{{#if user }}
								<td>{{ user.email }}</td>
								<td>{{ user.telefone }}</td>
							{{else}}
								<td>Email não informado</td>
								<td>Telefone não informado</td>
							{{/if}}
							
							{{/with}}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>