#login-page {
	padding-top: 20px;
	color:#fff;
}
#login-content {
	min-height: 100%;
	background-color: #83c4ce;
}
#login-page .text {
	color:#fff;
}

#signin_button {
	background: #3a53a4 !important;
}
