<!--================================================================================
@file         signin.html
@version      0.0.1
@path         client/views/signin
@description  Renderiza a visão de Login do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="signin">
	<div id="login-page" class="container">
		<div class="row">
			<div class="col s12 m8 offset-m2 halign">
				<div class="row">
					<div class="col s8 offset-s2 m6 offset-m3 center-align">
						<div>
							<img src="images/256.png" style="max-width: 150px" alt="icone" class="responsive-img align-center">
						</div>
					</div>
					<div class="col s12 m10 offset-m1 l8 offset-l2">
						<h4 class="form-legend">Login</h4>
						<div class="col s12">
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix text">person</i>
									<input id="email" class="validate" type="text">
									<label class="" for="email">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix text">lock</i>
									<input id="password" class="validate" type="password">
									<label for="password">Senha</label>
								</div>
								<div class="col s12 right-align">
									<button class="btn-flat forgot-password-trigger">Esqueci a senha</button>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<a id="signin_button" class="btn waves-effect waves-light col s12" href="#">Entrar</a>
								</div>
							</div>
						</div>
						<div id="esqueciSenha" class="modal modal-small">
							<div class="modal-content">
								<h5>Digite seu email</h5>
								<form class="col s12">
									<div class="row">
										<div class="input-field col s12">
											<i class="mdi-communication-email prefix"></i>
											<input id="email" class="validate" type="email">
											<label for="email">Email</label>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat teal-text">Enviar</a>
							</div>
						</div>
						<div id="loginErrado" class="modal modal-small">
							<div class="modal-content">
								<h5>Usuário ou senha inválidos!</h5>
								<div class="col s12">
									<div class="row">
										<div class="input-field col s12">
											<i class="mdi-communication-email prefix"></i>
											<input id="email" class="validate" type="email">
											<label for="email">Ok</label>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button href="#" class="modal-action modal-close waves-effect waves-green btn-flat teal-text">Enviar</button>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
