<template name="settingsAddEmail">
	{{>sideNavSettings}}
	<div class="main" style="padding-left:250px">
		<div class="section page-title">
			<h5>Adicionar Email</h5>
		</div>
		<div class="section">
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12 m6">
							<input id="email" type="email">
							<label for="email">Novo Email</label>
						</div>
					</div>
					<button class="btn modal-trigger waves-effect waves-light add-email">
						<i class="material-icons left">more</i>Adicinar
					</button>
				</form>
			</div>
		</div>
	</div>
</template>