<template name="settingsChangePassword">
	{{>sideNavSettings}}
	<div class="main" style="padding-left:250px">
		<div class="section page-title">
			<h5>Alterar Senha</h5>
		</div>
		<div class="section">
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12 m6">
							<input id="old-password" type="password">
							<label for="old-password">Senha Antiga</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m6">
							<input id="new-password" type="password">
							<label for="new-password">Senha Nova</label>
						</div>
					</div>  
					<div class="row">
						<div class="input-field col s12 m6">
							<input id="new-password-2" type="password">
							<label for="new-password-2">Confirmar Senha Nova</label>
						</div>
					</div>  
					<button class="btn modal-trigger waves-effect waves-light change-password"><i class="material-icons left">save</i>Salvar</button>
				</form>
			</div>
		</div>
	</div>
</template>