<template name="settings">	
	{{>sideNavSettings}}
	<div class="btn-sidenav">
		<a href="#" data-activates="configuracaoSidenav" class="button-collapse hide-on-large-only">
			<i class="material-icons left">menu</i>Opções
		</a>
	</div>
	<div class="main" style="padding-left:250px">
		{{#with currentUser }}
		<div class="section page-title">
			<h5>{{ profile.name }}</h5>
		</div>
		{{/with}}
	</div>
</template>