<template name="sideNavSettings">
	<ul id="configuracaoSidenav" class="side-nav fixed" style="top:65px">
		<li>
			<a href="{{ pathFor 'settings.add.email' }}" id="alterarDashboardLink">Adicionar Email</a>
		</li>
		<li>
			<a href="{{ pathFor 'settings.change.password' }}" id="alterarSenhaLink">Alterar Senha</a>
		</li>
	</ul>
</template>