<template name="charts">
	<div class="card mycard">
		<div class="section">
			<h5 class="no-print">Relatório</h5>
			<div class="divider"></div>
			<div class="charts">
				<div class="row no-print">
					<div class="input-field col s6">
						<select id="chart-filter-city">
							<option value="" disabled selected>Escolha uma cidade</option>
							{{#each cities }}
								<option value="{{ NomeUF }}">{{ NomeUF }}</option>
							{{/each}}
						</select>
					</div>
					<div class="input-field col s6">
						<select id="chart-filter-date">
							<option value="" disabled selected>Ano</option>
							{{#each years }}
								<option value="{{ this }}">{{ this }}</option>
							{{/each}}
						</select>

						<!--<input type="number" id="test">-->
					</div>
				</div>
				{{#if loaded}}
					{{#if city}}
						<h5>{{ city }}, {{ year }}</h5>
						{{#if loadedData }}
							{{> chart data=data width=800}}
							<table>
								<tbody>
									<tr>
										<td width="30"><i class="material-icons" style="color:#dcdcdc">stop</i></td>
										<td>Ocorrências feitas</td>
									</tr>
									<tr>
										<td width="30"><i class="material-icons" style="color:#97bbcd">stop</i></td>
										<td>Ocorrências atendidas</td>
									</tr>
								</tbody>
							</table>
							<div class="align-right">
								<button class="print no-print waves-effect waves-light btn" onclick="window.print();">
									<i class="material-icons left">print</i>Imprimir
								</button>
							</div>
						{{else}}
							Carregando...
						{{/if}}
					{{else}}
						<h4>Selecione uma cidade</h4>
					{{/if}}
				{{else}}
					<div class="progress">
						<div class="indeterminate"></div>
					</div>
					Carregando...
				{{/if}}
				
			</div>
		</div>
	</div>
</template>