<!--================================================================================
@file         header.html
@version      0.0.1
@path         client/views/_include
@description  Menú do sistema, cabeçalho do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="header">
 <!-- START HEADER -->
 <header id="header" class="page-topbar no-print">
	<!-- start header nav-->
	<div class="navbar-fixed">
	 <nav class="blue">
		<div class="nav-wrapper">
		 <ul class="left">
			<li class="no-hover">
				<a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light hide-on-large-only"><i class="mdi-navigation-menu" ></i></a>
			</li>
			<li>
				<h1 class="logo-wrapper">
					<a href="{{ pathFor 'notifications' }}" class="brand-logo darken-1" title="Dashboards">
						<img src="images/tavazando1.png" alt="logo" style="width: 135px;">
					</a>
					<span class="logo-text">AguaLert</span>
				</h1>
			</li>
		</ul>
		<ul class="right hide-on-med-and-down">
			<li>
				<a href="{{ pathFor 'notifications' }}" title="Dashboard">
					<i class="material-icons">home</i>
				</a>
			</li>
			<li>
				<a href="{{ pathFor 'map' }}" title="Mapa">
					<i class="material-icons">location_on</i>
				</a>
			</li>
			<li>
				<a href="{{ pathFor 'charts' }}" title="Relatório">
					<i class="material-icons left">insert_chart</i>
				</a>
			</li>
			<li>
				<a href="{{ pathFor 'settings' }}" title="Configurações">
					<i class="material-icons">settings</i>
				</a>
			</li>
			<li>
				<a href="#" title="Maximizar" class="waves-effect waves-block waves-light toggle-fullscreen">
					<i class="material-icons">settings_overscan</i>
				</a>
			</li>
			<li>
				<a href="#" title="Sair" class="logout">
					<i class="material-icons">power_settings_new</i>
				</a>
			</li>
		</ul>

		<!-- MENU CELULAR/TABLET -->
		<ul id="slide-out" class="side-nav leftside-navigation ps-container ps-active-y">
			<li class="bold">
				<a href="{{ pathFor 'notifications' }}" title="Dashboard" class="waves-effect waves-cyan left">
					<i class="material-icons">home</i> Dashboard
				</a>
			</li>
			<li class="bold">
				<a href="{{ pathFor 'map' }}" title="Mapa" class="waves-effect waves-cyan left">
					<i class="material-icons">location_on</i> Mapa
				</a>
			</li>
			<li class="bold">
				<a href="{{ pathFor 'charts' }}" title="Relatório" class="waves-effect waves-cyan left">
					<i class="material-icons left">insert_chart</i> Relatórios
				</a>
			</li>
			<li class="bold">
				<a href="{{ pathFor 'settings' }}" title="Configurações" class="waves-effect waves-cyan left">
					<i class="material-icons">settings</i> Configurações
				</a>
			</li>
			<li class="bold">
				<a href="#" title="Sair" class="waves-effect waves-cyan left logout">
					<i class="material-icons">power_settings_new</i> Sair
				</a>
			</li>

		</ul>
		<!-- FIM MENU CELULAR/TABLET -->
	</div>
</nav>
</div>
<!-- end header nav-->
</header>
<!-- END HEADER -->
</template>
