<!--================================================================================
@file         forgotpassword.html
@version      0.0.1
@path         client/views/forgotpassword
@description  Renderiza a visão de Recuperar a Senha do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="forgotPassword">
  <!-- START MAIN -->
  <div id="forgot-password" class="modal modal-small">
    <div class="modal-content">
      <h5>Digite seu email</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input id="email" class="validate" type="email">
            <label for="email" class="">Email</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat teal-text">Enviar</a>
    </div>
  </div>
<!-- END MAIN -->
</template>