	<!--================================================================================
	@file         notifications.html
	@version      0.0.1
	@path         client/_views/notifications
	@description  Renderiza as visão de ocorrências no sistema.
	@author       Winny
	@contact      http://swellitsolutions.com.br/contato
	@copyright    Copyright Swell It Solutions.
	================================================================================ -->

<template name="notifications">
	<!-- CARD DE NOTIFICAÇÕES -->
	<div class="card mycard">
		<div class="section">
			<div id="notifications"> <h5>Ocorrências</h5></div>
			<div class="divider"></div>
			<div class="row">
				<div class="col s12 m12 l12">
					{{#if Template.subscriptionsReady}}

					{{>tabular table=options selector=filter class="striped responsive-table" cellspacing="0" }}
					
					{{else}}
						Carregando...
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>