<template name="tabularStatus">
	<div class="input-field">
		<select class="change-status-select" data-id="{{_id}}">
			<option value="0" selected="{{#if equals status 0}}selected{{/if}}">Aberto</option>
			<option value="1" selected="{{#if equals status 1}}selected{{/if}}">Em Andamento</option>
			<option value="2" selected="{{#if equals status 2}}selected{{/if}}">Concluído</option>
		</select>
	</div>
</template>

<template name="tabularData">
	{{ date }} - {{ time }}
</template>

<template name="tabularActions">
	<a title="Detalhes da Ocorrência" class="waves-effect btn-flat btn-floating right modal-trigger" data-id="{{ _id }}" href="#modal-ocorrencia">
		<i class="mdi-editor-mode-edit myflatbtn"></i>
	</a>
</template>

<template name="tabularTipo">
	{{ type tipo }}
</template>